body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 20px;
}


.forecast-container, .weather-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.weather, .forecast {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.weather h2, .forecast h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.weather-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.weather-block:hover {
    transform: scale(1.05);
}

.weather-block img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.weather-block p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
}

.weather-date {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 8px;
}

#city {
    font-size: 1em;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search {
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00796b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search:hover {
    background-color: #004d40;
    transform: scale(1.05);
}
